{% extends 'base.html' %}
{% load static %}
{% block TITLE %}
<title>گفتگو - خصوصی</title>
{% endblock %}
{% block CSS %}
{% endblock %}
{% block CONTENT %}
{% if user.is_authenticated %}{% include 'utils/menu.html' %}{% endif %}
<div style="padding: 100px;">
<div class="col-md-4">
<textarea  class="form-control" id="chat-log" cols="100" rows="20"></textarea><br></div>
<input type="hidden" name="ROOM_NAME" value="{{room_name}}">
<div class="col-md-4"><input id="chat-message-input" class="form-control" type="text" size="100"><br></div>
<div class="col-md-4"><input id="chat-message-submit" class="form-control" type="button" value="Send"></div>
</div>
{% block JS %}
<script src="{% static 'assets/js/chat/chat.js' %}"></script>
{% endblock %}
{% endblock %}