{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/utils/menu.css' %}" />
</head>
<body>
  <nav class="ss-menu ">
    <ul>
      <li><a href="{% url 'dashboard' %}"><i class="bi bi-speedometer2"></i>داشبورد</a></li>
      <li><a href="{% url 'products' %}"><i class="bi bi-folder-plus"></i> ارشیو انبار کالا</a></li>
      <li><a href="{% url 'materials' %}"><i class="bi bi-card-checklist"></i>ارشیو انبار مواد اولیه</a></li>
      <li><a href="{% url 'add_products' %}"><i class="bi bi-files"></i>افزودن کالا</a></li>
      <li><a href="{% url 'add_materials' %}"><i class="bi bi-files"></i>افزودن ماده اولیه</a></li>
      <li><a href="{% url 'accounts' %}"><i class="bi bi-person-rolodex"></i>مشاهده وضعیت همکاران</a></li>
      <li><a href="#"><span class="ss-badge">!</span> <i class="bi bi-chat-dots"></i> ارسال پیام به همکاران</a></li>
      {% if user.is_staff %}
      <li><a href="/import_excel"><i class="bi bi-folder-plus"></i>درون ریزی</a></li>
      <li><a href="/UNIQUEINVENTORYADMINISTRATOR174"><i class="bi bi-speedometer2"></i>پنل توسعه</a></li>
      {% endif %}
      <li><a href="{% url 'logout' %}"><i class="fas fa-sign-in-alt"></i>خروج از انبار</a></li>
    </ul>
  </nav>
  <script src="{% static 'assets/js/utils/menu/jquery.ss.menu.js' %}"></script>
  <script>
    $(document).ready(function () {

      $(".ss-menu").ssMenu();

    });
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1VDDWMRSTH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-1VDDWMRSTH');
  </script>
  <script>
    try {
      fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
        return true;
      }).catch(function (e) {
        var carbonScript = document.createElement("script");
        carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
        carbonScript.id = "_carbonads_js";
        document.getElementById("carbon-block").appendChild(carbonScript);
      });
    } catch (error) {
      console.log(error);
    }
  </script>
</body>
</html>