{% extends 'base.html' %}
{% load static %}
{% block TITLE %}
<title>انبار کالا</title>
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'assets/css/inventory/products/products.css' %}">
{% endblock %}
{% block CONTENT %}
{% if user.is_authenticated %}{% include 'utils/menu.html' %}{% endif %}
<input type="hidden" name="CODE" value="{{code}}">
<div class="container-fluid bodyx">
    <!-- ----منو بار---- -->
    <div >
        <div class="row">
            <div class="menubar">
                <div class="row">

                    <div class="col-3 dirrr"> <a class="navbar-brand wttc col-3">سلام {{ user.first_name }} {{ user.last_name }}</a>
                    </div>
                    <div class="col-9">
                        <form class="d-flex" role="search">
                            <input id="search_input" class="form-control me-2 rSearch" placeholder="جستوجو کنید"
                                aria-label="Search" />
                            <button id="search_product" class="btn btn-outline-success mSearch" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
            </div>
        </div>
    </div><br><br><br>
    <!-- -------------- -->
    <a href="/inventory/product_list_excel"><button type="button" class="btn btn-success">خروجی اکسل<i class="bi bi-file-earmark-excel-fill"></i></button></a>
        <a href="/inventory/product_list_pdf"><button type="button" class="btn btn-primary">چاپ لیست محصولات<i class="bi bi-printer-fill"></i></button></a>
    <div class="container-fluid">
        {% for product in products %}
        <!-- -----محصول داینامیک---- -->
        <div class="mt-3">
            <div class="bkbc wttc itemkala">
                <span>{{ product.product_name }}</span>
                <span>{{ product.product_code }}</span>
                <span>{{ product.product_color }}</span>
                <span>{{ product.product_quantity }}</span>
                <span>{{ product.product_location }}</span>
                <span>{{ product.product_hall }}</span>
                <span onclick="edit_product('{{ product.product_location }}', '{{ product.product_hall }}', '{{ product.product_code }}', '{{ product.product_color }}');" type="submit" class="bi bi-pencil-fill"></span>
            </div>
        </div>
        <!-- -----محصول داینامیک---- -->
        {% empty %}
        <div class="mt-3">
            <div class="bkbc wttc itemkala">
                <a href="{% url 'add_products' %}"><span>انبار کالا خالیست ! هم اکنون یکی ایجاد کنید</span></a>
            </div>
        </div>
        {% endfor %}
        <!-- لطفا لیست 50 تا بیاد و وقتی رسید به پایین مجدد 50 تای دیگه -->
    </div></div>
{% block JS %}
<script src="{% static 'assets/js/inventory/products/products.js' %}"></script>
{% endblock %}
{% endblock %}