{% extends 'base.html' %}
{% load static %}
{% block TITLE %}
<title>ارسالی ها</title>
{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'assets/css/orders/orders.css' %}">
{% endblock %}
{% block CONTENT %}
<div class="container-fluid mt-5">

    <div class="formpro">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active wttc" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-home1"
                type="button" role="tab" aria-controls="nav-1" aria-selected="true">بررسی های امروز</button>
            <button class="nav-link  wttc" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-home2"
                type="button" role="tab" aria-controls="nav-2" aria-selected="false">بسته بندی شده ها</button>
            <button class="nav-link wttc" id="nav-3-tab" data-bs-toggle="tab" data-bs-target="#nav-home3"
                type="button" role="tab" aria-controls="nav-3" aria-selected="false">ارسال شده ها</button>
            <button class="nav-link wttc" id="nav-4-tab" data-bs-toggle="tab" data-bs-target="#nav-home4"
                type="button" role="tab" aria-controls="nav-3" aria-selected="false">جستجو ارسال شده ها</button>
            <button class="nav-link wttc" id="nav-5-tab" data-bs-toggle="tab" data-bs-target="#nav-home5"
                type="button" role="tab" aria-controls="nav-3" aria-selected="false">دفتر مرکزی</button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <!-- برسی های امروز -->
        <div class="tab-pane fade show active " id="nav-home1" role="tabpanel" aria-labelledby="nav-1-tab"
            tabindex="0">

            <div class="listpro">
                <form class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault01" value="کدسفارش" disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault02" value="نام نام خانوادگی"
                            disabled>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" value="شماره تماس" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت بسته بندی</option>
                            <option>بسته بندی شده</option>
                            <option>بسته بندی نشده</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">روش ارسال</option>
                            <option>پست پیشتاز</option>
                            <option>پیک موتوری</option>
                            <option>دریافت حضوری</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت ارسال</option>
                            <option>پست شده</option>
                            <option>پست نشده</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="textseller"><span class="betc">متن ارسالی از طرف پرسنل دفتر:</span> <span>متن
                                ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر
                                مرکزی
                                متن ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر مرکزی</span></div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger w-100" type="submit">دانلود فاکتور</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100" type="submit">تکمیل</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- بسته بندی شده ها -->
        <div class="tab-pane fade" id="nav-home2" role="tabpanel" aria-labelledby="nav-2-tab">

            <div class="listpro">
                <form class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault01" value="کدسفارش" disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault02" value="نام نام خانوادگی"
                            disabled>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" value="شماره تماس" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت بسته بندی</option>
                            <option>بسته بندی شده</option>
                            <option>بسته بندی نشده</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">روش ارسال</option>
                            <option>پست پیشتاز</option>
                            <option>پیک موتوری</option>
                            <option>دریافت حضوری</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت ارسال</option>
                            <option>پست شده</option>
                            <option>پست نشده</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="textseller"><span class="betc">متن ارسالی از طرف پرسنل دفتر:</span> <span>متن
                                ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر
                                مرکزی
                                متن ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر مرکزی</span></div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger w-100" type="submit">دانلود فاکتور</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100" type="submit">تکمیل</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- ارسال شده ها -->
        <div class="tab-pane fade" id="nav-home3" role="tabpanel" aria-labelledby="nav-3-tab">

            <div class="listpro">
                <form class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault01" value="کدسفارش" disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault02" value="نام نام خانوادگی"
                            disabled>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" value="شماره تماس" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت بسته بندی</option>
                            <option>بسته بندی شده</option>
                            <option>بسته بندی نشده</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">روش ارسال</option>
                            <option>پست پیشتاز</option>
                            <option>پیک موتوری</option>
                            <option>دریافت حضوری</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت ارسال</option>
                            <option>پست شده</option>
                            <option>پست نشده</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="textseller"><span class="betc">متن ارسالی از طرف پرسنل دفتر:</span> <span>متن
                                ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر
                                مرکزی
                                متن ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر مرکزی</span></div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger w-100" type="submit">دانلود فاکتور</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100" type="submit">تکمیل</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- جستجوی ارسال شده ها -->
        <div class="tab-pane fade" id="nav-home4" role="tabpanel" aria-labelledby="nav-4-tab">

            <div class="listpro">
                <form class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault01" value="کدسفارش" disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="validationDefault02" value="نام نام خانوادگی"
                            disabled>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                aria-describedby="inputGroupPrepend2" value="شماره تماس" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت بسته بندی</option>
                            <option>بسته بندی شده</option>
                            <option>بسته بندی نشده</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">روش ارسال</option>
                            <option>پست پیشتاز</option>
                            <option>پیک موتوری</option>
                            <option>دریافت حضوری</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">وضعیت ارسال</option>
                            <option>پست شده</option>
                            <option>پست نشده</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <div class="textseller"><span class="betc">متن ارسالی از طرف پرسنل دفتر:</span> <span>متن
                                ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر
                                مرکزی
                                متن ارسالی از طرف پرسنل دفتر مرکزی متن ارسالی از طرف پرسنل دفتر مرکزی</span></div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger w-100" type="submit">دانلود فاکتور</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100" type="submit">تکمیل</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- پایان جستجوی ارسال شده ها -->
    <!-- دفتر مرکزی -->
    <div class="tab-pane fade" id="nav-home5" role="tabpanel" aria-labelledby="nav-5-tab">
        <div class="listpro">
        <form class="row g-3 needs-validation mt-3" novalidate>
            <div class="col-md-4">
                <input type="text" class="form-control" id="validationDefault01" placeholder="کدسفارش" required>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="validationDefault02" placeholder="نام نام خانوادگی"
                required>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="validationDefaultUsername"
                        aria-describedby="inputGroupPrepend2" placeholder="شماره تماس" required>
                </div>
            </div>
            <div class="col-md-4">
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled placeholder="">وضعیت بسته بندی</option>
                    <option>بسته بندی شده</option>
                    <option>بسته بندی نشده</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled placeholder="">روش ارسال</option>
                    <option>پست پیشتاز</option>
                    <option>پیک موتوری</option>
                    <option>دریافت حضوری</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled placeholder="">وضعیت ارسال</option>
                    <option>پست شده</option>
                    <option>پست نشده</option>
                </select>
            </div>
            <div class="col-md-12">
                <div class="textseller"><span class="betc">متن ارسالی از طرف پرسنل دفتر:</span> <input type="text"class="form-control"> </div>
            </div>
            <div class="col-6">
                <input type="file" name="myfile" class="form-control" placeholder="بارگزاری فاکتور سفارش" required>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100" type="submit">ثبت سفارش کالا</button>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
{% block JS %}
<script src="{% static 'assets/js/orders/orders.js' %}"></script>
{% endblock %}
{% endblock %}